
</div>
<div class="footer-padding"></div>
  <div class="footer">

    e-learn
    <p>Top instructors from around the world <br>
    teach millions of students</p>

    <div class="row">

      <div class="col-lg-3">
        <h5>Information</h5>
        <p>Home</p>
        <p>About</p>
        <h5>Courses</h5>
        <p>Blog</p>
      </div>

      <div class="col-lg-3">
        <h5>Helpful Links</h5>
        <p>Students</p>
        <p>Business</p>
        <p>Instructors</p>
      </div>

      <div class="col-lg-3">
        <h5>Our Service</h5>
        <p>Design</p>
        <p>Study</p>
        <p>Business</p>
        <p>UI/UX</p>
      </div>

      <div class="col-lg-3">
        <h5>Contact</h5>
        <p>2715, Ash Dr San Jose, South <br>
        Dakota, 83475</p>
        <p>example@company.com</p>
        <p>(406)555-0120</p>
      </div>

    </div>

  </div>
</div>




</body>
</html>



//
