<%- include('partials/header'); -%>

<h1>Courses We Offer</h1>
<div class="col lg-3">

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Engineering and Technology</h3>
      <h5 class="card-subtitle">Card subtitle</h5>
      <p class="card-text">Course description</p>
      <a href="#">Go to Course</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Medical</h3>
      <h5 class="card-subtitle">Card subtitle</h5>
      <p class="card-text">Course description</p>
      <a href="#">Go to Course</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Trade and Commerce</h3>
      <h5 class="card-subtitle">Card subtitle</h5>
      <p class="card-text">Course description</p>
      <a href="#">Go to Course</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">International Law</h3>
      <h5 class="card-subtitle">Card subtitle</h5>
      <p class="card-text">Course description</p>
      <a href="#">Go to Course</a>
    </div>
  </div>

</div>


<%- include('partials/footer'); -%>
