<%- include('partials/header'); -%>

<div class="jumbotron">
  <h1>Move beyond <br>
  the limitations of <br>
 e-Learning</h1>

  <p>Anytime, anywhere to discover yourself</p>
  <button class="home-button btn btn-lg" type="submit" name="Start">Get Started</button>
  <a class="second-button" href="/instructor">Become an instructor</a>
  <div class="float-right">
      <img src="" alt="placeholder-image">
  </div>

</div>

<div class="row">

  <div class="col-lg-3">
    <h6>Online Tutoring</h6>
  </div>

  <div class="col-lg-3">
    <h6>Lifetime Access</h6>
  </div>

  <div class="col-lg-3">
    <h6>Active learning</h6>
  </div>

  <div class="col-lg-3">
    <h6>10k courses</h6>
  </div>

</div>

<h2>Most Popular Courses</h2>


<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <img src="" alt="placeholder-img">

        <h5 class="card-title">Launch career as a web designer and learning more</h5>

      </div>
    </div>
  </div>


  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">

        <h5 class="card-title">The most complete design thinking course on the market</h5>

      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">

        <h5 class="card-title">A-Z Guide to Learning 3D Animation, content will help</h5>

      </div>
    </div>
  </div>




</div>


<h2>Trending Courses</h2>

<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <img src="" alt="placeholder-img">

        <h5 class="card-title">Launch career as a UI/UX Designer and learning more</h5>

      </div>
    </div>
  </div>


  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">

        <h5 class="card-title">The most complete course on the market Gaming/Art</h5>

      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">

        <h5 class="card-title">We are Guide to Learning how experts on photography</h5>

      </div>
    </div>
  </div>




</div>










<div class="jumbotron second-jumbotron">
  <h2>Get to know about Us</h2>
  <p>You only have to know one thing that, you can learn anything <br>
  Anytime, anywhere to do discover yourself. Our content will help <br>
  you every step. Anytime, anywhere to do discover yourself</p>

  <i class="fa-solid fa-shield-check"></i>
  <h5>Safe and secured</h5>

<button class="home-button btn btn-lg" name="button"></button>
</div>

<h1>Our latest Post</h1>


<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <img src="" alt="placeholder-img">

        <h5 class="card-title">Build a course, build a brand, build a Here is what teachable can do for you</h5>
       <p>22 Jan, 2021-Article</p>
      </div>
    </div>
  </div>


  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">

        <h5 class="card-title">Top instructors from around the world teach millions of students</h5>
         <p>22 Jan, 2021-Article</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">

        <h5 class="card-title">We provide the tools and skills to teach what you need</h5>
         <p>22 Jan, 2021-Article</p>
      </div>
    </div>
  </div>




</div>

<h2 class="testimonies">What are Clients Say</h2>

<div class="row">

  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">

         <p>You only have to know one thing <br>
         that, you can learn anything. <br>
       Anytime, anywhere to do you <br>
        discover yourself. Our content <br>
           will help you every step.</p>


      </div>
    </div>
  </div>


  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">

        <p>You only have to know one thing <br>
        that, you can learn anything. <br>
      Anytime, anywhere to do you <br>
    discover yourself. Our content <br>
  will help you every step.</p>

      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">

        <p>You only have to know one thing <br>
        that, you can learn anything. <br>
      Anytime, anywhere to do you <br>
    discover yourself. Our content <br>
  will help you every step.</p>

      </div>
    </div>
  </div>




</div>

<div class="last">
  <h1>Do you want to be an instructor?</h1>
  <button class="home-button btn btn-lg" name="button"></button>

</div>




<%- include('partials/footer'); -%>
