<%- include('partials/header'); -%>

<h1>Meet our Instructors</h1>
<p>Instructors</p>
<div class="float-left">
<img src="" alt="placeholder-image">
</div>

<h2>Want to become an Instructor? Join us Today</h2>


<%- include('partials/footer'); -%>
