<%- include('partials/header'); -%>

<h1>Register, New User!</h1>
<form action="/register method="post">
  <input type="text" name="email" >
  <input type="password" name="password" >
  <input type="number" name="phoneNumber" placeholder="Phone Number">
</form>









<%- include('partials/footer'); -%>
