<%- include('partials/header'); -%>

<h1>Sign in</h1>

<form action="/Signin" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
</form>

<%- include('partials/footer'); -%>
